degate/__pycache__/__init__.cpython-38.pyc
degate/__pycache__/__init__.cpython-39.pyc
degate/__pycache__/api.cpython-38.pyc
degate/__pycache__/api.cpython-39.pyc
degate/__pycache__/error.cpython-38.pyc
degate/__pycache__/error.cpython-39.pyc
